/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.site-wrapper {
		padding: 8% 2%;
	}

	.verification .verify-text {
		width: 100%;
		padding: 15px 30px 0px;
	}

	.verification .verify-img {
		width: 100%;
		padding: 15px 30px 0px;
	}

	.main-form {
		padding: 25px;
	}

	.steps-container .steps .progress-bar {
		width: 6%;
		left: 4%;
	}

	.pagination {
		padding: 0;
	}

	.pagination .next button {
		padding: 10px 25px;
	}

	.steps-container .steps .bar-two {
		width: 28%;
	}

	.steps-container .steps .bar-three {
		width: 48%;
	}

	.inner img {
		width: 20%;
	}
	.xs-center {
		text-align: center;
		margin-bottom: 25px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.site-wrapper {
		padding: 5% 5%;
	}

	.verification .verify-text {
		width: 55%;
		padding: 15px 30px 0px;
	}

	.verification .verify-img {
		width: 45%;
	}

	.main-form {
		padding: 25px;
	}

	.steps-container .steps .progress-bar {
		width: 8%;
		left: 2%;
	}

	.pagination {
		padding: 0;
	}

	.steps-container .steps .bar-two {
		width: 28%;
	}

	.steps-container .steps .bar-three {
		width: 48%;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.site-wrapper {
		padding: 5% 5%;
	}

	.verification .verify-text {
		width: 55%;
		padding: 15px 30px 0px;
	}

	.verification .verify-img {
		width: 45%;
	}

	.main-form {
		padding: 25px;
	}

	.steps-container .steps .progress-bar {
		width: 8%;
		left: 2%;
	}

	.steps-container .steps .bar-two {
		width: 28%;
	}

	.steps-container .steps .bar-three {
		width: 48%;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.site-wrapper {
		padding: 5% 5%;
	}

	.verification .verify-text {
		width: 60%;
		padding: 43px 40px 0px;
	}

	.verification .verify-img {
		width: 40%;
	}

	.main-form {
		padding: 25px;
	}

	.steps-container .steps .progress-bar {
		width: 8%;
		left: 2%;
	}

	.steps-container .steps .bar-two {
		width: 28%;
	}

	.steps-container .steps .bar-three {
		width: 48%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
